/* ==========================================================================
   Layout
   ========================================================================== */

.u-container {
    max-width: 65rem; // 650px
    margin-right: auto;
    margin-left: auto;
    padding: 2rem;
    min-height: 100vh;
}
