/* ==========================================================================
   Archives
   ========================================================================== */

.c-archives {
    margin-bottom: 6rem;
}

.c-archives__year {
    margin-bottom: 1.5rem;
    @include fs--heading-1;
    color: $c-base__1;
    font-weight: 600;
}

.c-archives__list {
    margin-bottom: 2.5rem;
    list-style: none;
}

.c-archives__item {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    border-top: 1px solid $c-base__2;
    @media screen and (min-width: $bp__sm) {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }

    h3 {
        @include fs--body;
        color: $c-base__1;
        
        a {
            color: $c-accent__blue;
            text-decoration: none;
            transition: color 0.2s ease;
            
            &:hover {
                color: darken($c-accent__blue, 10%);
            }
        }
    }
    h3 span {
        display: inline-block;
        width: 7rem;
        color: #515862;
    }
    p {
        @include fs--body;
        color: $c-base__01;
    }
}
